@water: #b8dee6;
@land: #eee;
@border: #85c5d3;
@stateborder: #666;
@countyborder: #fff;

@scale1: #e6e6e6;
@scale2: #c5e0e1;
@scale3: #8BC0BF;
@scale4: #51A09E;
@scale5: #18817E;
@scale6: #14615F;
@scale7: #0D4140;

#roads {
  line-color: @countyborder;
  line-width: 2;
  line-join: round;

  polygon-fill: @scale1;
  polygon-opacity: 1;
  
  [Pop > 0 ] { polygon-fill: @scale3; }
  [Pop > 25000 ] { polygon-fill: @scale4; }
  [Pop > 50000 ] { polygon-fill: @scale5; }
  [Pop > 125000 ] { polygon-fill: @scale6; }
  [Pop > 250000 ] { polygon-fill: @scale7; }
  
}

#states [ISO="USA"] {
 line-color: @stateborder;
 line-width: 2;
 line-join: round;
 [zoom < 6] {
  line-width: 1;    
  }
  [zoom > 7] {
    line-width: 4;    
  }
}

#lakes[ScaleRank < 4] {
  line-color: @border;
  polygon-fill: @water;
}

#countries {
  ::outline {
    line-color: #85c5d3;
    line-width: 2;
    line-join: round;
  }
  polygon-fill: #fff;
}

==

<p class="explainer">This map shows population, which is concentrated in a few counties, such as Tulsa and Oklahoma.</p>
<h3>Population 2010</h3>
<ul class="scale">
  <li><span class="colorbox" style="background:#8BC0BF; color:#8BC0BF;">▉</span> < 25,000</li>
  <li><span class="colorbox" style="background:#51A09E; color:#51A09E;">▉</span> 25,000-50,000</li>
  <li><span class="colorbox" style="background:#18817E; color:#18817E;">▉</span> 50,000-125,000</li>
  <li><span class="colorbox" style="background:#14615F; color:#14615F;">▉</span> 125,000-250,000</li>
  <li><span class="colorbox" style="background:#0D4140; color:#0D4140;">▉</span> > 250,000</li>
</ul>
<p class="source">Sources: <a target="_blank" href="http://www.census.gov">U.S. Census Bureau</a>, <a target="_blank" href="http://www.tax.ok.gov/">Oklahoma Tax Commission</a></p>
<em><p class="source"> — <a href="mailto:mstiles@npr.org">Matt Stiles</a> & <a href="mailto:mstiles@npr.org">Joe Wertz</a></p></em>

==

<h4 class="county">[DCounty] 2010</h4>
<table>
  <tr>
	<td class="label">Total Population:</td>
	<td class="num int">[DPop]</td>
  </tr>
 </table>